/* FONTS EMBEDDING */
/*@font-face {
  font-family: 'Novecentowide-Bold';
  src: url('../fonts/novecentowide-bold.eot');
  src: url('../fonts/novecentowide-bold.eot?#iefix') format('embedded-opentype'),
     url('../fonts/novecentowide-bold.woff') format('woff'),
     url('../fonts/novecentowide-bold.ttf') format('truetype'),
     url('../fonts/novecentowide-bold.svg#novecentowide-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600,700,800);

/* DEFAULT STYLES */
body { letter-spacing: 0; padding-top: 100px; }

p { margin: 15px 0; }

h1, h2, h3, #footer .widget-title > * {
	font-family: 'Dosis', 'Ariab Black', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight:700;
	line-height: 30px;
	text-transform: uppercase;
}
.page-title > *, #footer .widget-title > * {
	background: #94c01c;
	padding: 8px 30px 12px 28px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}
.page-title a:hover { color: #fff; text-decoration: none; }
h2, h3 { font-size: 20px; line-height: 24px; }

a { outline: none !important; }

.portfolio-items a dt img, #header a, .social-profiles a img, .connect a img, #copyright a img   {
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}



/* HEADER */
#header {
	background: #2f353e;
	padding: 28px 0 26px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}
#logo img { float: left; display: block; }

#header nav ul { float: right; margin: 6px 0 0; }
#header nav li { font-family: 'Dosis', sans-serif; list-style-type: none;	float: left; margin-left: 46px; }
#header a {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}
#header a:hover, #header .current-menu-item a { color: #a5a5a5; text-decoration: none; }

.select-menu { display: none; }

#slider { overflow: hidden; }
#slider h1 {
	padding: 0;
	background: none;
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 60px;
	line-height: 65px;
	margin: 0 100px;
	text-align: center;
	text-shadow: 0 0 10px #000;
}



/* CONTENT */
body > article { border-bottom: #dfdfdf 1px solid; padding-top: 80px; }
body > article:first-child { border: none; }
article.even { background: #fff; }

.page { text-align: center; }

.page-title, #footer .widget-title {
	text-align: center;
	padding-bottom: 17px;
	background: url("/images/title-arrow.png") center 100% no-repeat;
}
.page-title h1 { min-width: 190px; }
.page-title h1, #footer .widget-title > * { margin: 0; }

.pull-right { float: right; }
.pull-left { float: left; }

.modal { display: none; text-align: left; background: #fff; }
.modal-header { height: 70px; background: #ebe9e4; overflow: hidden; }
.modal-header .close {
	width: 34px;
	height: 34px;
	background: url("/images/close.png");
	text-indent: -999px;
	overflow: hidden;
	margin: 17px 22px 0 0;
	opacity: 0.5;
}
.modal-header .close:hover { opacity: 1; }
.modal-body {
	font-size: 18px;
	line-height: 25px;
	overflow: hidden;
	padding: 15px 20px;
}
.modal-body h1 { margin-top: 10px; }
.modal-body .meta { float: right; color: #8f8f8f; margin-top: 0; width: 25%; }
.modal-body .meta li { list-style-type: none; border-top: #e9e9e9 1px dashed; padding: 5px 0; }
.modal-body .meta li:first-child { border: none; padding-top: 0; }



/* WIDGETS */
article .widget-area { border-top: #e9e9e9 1px dashed; margin-top: 67px; }

article .widget-area .widget:first-child { border-left: #e9e9e9 1px dashed; }
article .widget-area .widget { border-right: #e9e9e9 1px dashed; }

.widget { font-size: 18px; line-height: 25px; }

.widget-teaser { padding-top: 32px; }
.widget-teaser .widget-title { margin: 30px 0 54px; }
.widget-teaser img { margin: 0 auto; display: block; }
.widget-teaser .widget-content { padding: 52px 15px; border-top: #e9e9e9 1px dashed; }

#footer .widget { margin-bottom: 40px; }

#footer .widget-text .widget-content { padding-top:30px; }
#footer .widget-text .widget-content div { font-size:12px;line-height:16px; }
#footer .widget-text .widget-content div li { list-style-type: none;margin-bottom:10px; }

#footer .widget-title { background-image: url("/images/title-arrow-2.png"); padding-bottom: 10px; }
#footer .widget-title > * {
	background: #24282f;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

#footer .widget-flickr .widget-content { padding: 30px 0 0; overflow: hidden; }
#footer .widget-flickr .widget-content label { font-size:14px;line-height:18px; }

.widget-flickr .widget-content > div { width: 110%; overflow: hidden; }
.flickr_badge_image img {
	display: block;
	width: 80px;
	height: 80px;
	float: left;
	margin: 30px 30px 0 0;
}

.tweet_list { font-size:14px;line-height:18px;margin: 0; padding: 30px 0 0; }
.tweet_list li { list-style-type: none; margin-bottom: 18px; }
.tweet_list a { color: #a6a6a6; }

.width-33 { width: 33.1%; float: left; }



/* PORTFOLIO & STAFF */
.portfolio-items, .staff-items { margin: 76px 0 39px; }
.portfolio-items dl, .staff-items dl { margin-top: 0; margin-bottom: 39px; }
.portfolio-items dd, .staff-items dd {
	margin: 0;
	background: #fff;
	text-align: center;
	font-size: 20px;
	padding: 16px 0 17px;
	box-shadow: 0 1px 1px #e4e4e4;
}
.portfolio-items a, .staff-items a { color: #8f8f8f; }
.portfolio-items dt img, .staff-items dt img { width: 100%; opacity: 1; }
.portfolio-items a:hover dt img { opacity: 0.7; }
.staff-items dd { padding: 18px 0 16px; font-size: 17px; color: #ccc9ba; }
.staff-items dd h3 { margin: 0; color: #666; }
.staff-items p { margin-top: 4px; margin-bottom: 19px; }

.social-profiles {
	overflow: hidden;
	text-align: center;
	padding: 13px 0 0;
	margin-bottom: 0;
	border-top: #e0e0e0 1px dashed;
}
.social-profiles li { list-style-type: none; display: inline-block; margin: 0 6px; }
.social-profiles li a img { opacity:.25; }
.social-profiles a:hover img { opacity: 0.7; }

#developers-list div div {
  margin-bottom:20px;
}

.connect { overflow: hidden; margin: 82px 0 75px; padding: 0; }
.connect a:hover img { opacity: 0.7; }
.connect li { list-style-type: none; float: left; width: 82px; margin: 0 44px; }
.connect li:first-child { margin-left: 0; }
.connect li:last-child { margin-right: 0; }

.client-items { margin: 78px 0 60px; }
.client-items img { display: block; margin: 0 auto 55px; }



/* CONTACT */
#map {
  background:url(/images/map.jpg);
	margin: 54px 0 44px;
	display: block;
	width: 100%;
	height: 490px;
	max-width:100%;
	border: none;
}
#map img { max-width: none; }

.address { text-align: left; font-size: 18px; line-height: 25px; }
.address p { margin: 25px 0; }
.address form { margin: 30px 0 70px; }

/*input[type="submit"] {
	font-family: 'Novecentowide-Bold', 'Ariab Black', Arial, Helvetica, sans-serif;
	font-size: 25px;
	background: #94c01c;
	color: #fff;
	border: none;
	padding: 8px 38px 12px 36px;
}*/
input[type="text"], textarea {
	background: #f3f3ef;
	font-size: 20px;
	display: block;
	width: 100%;
	border: none;
	box-shadow: none;
	height: 60px;
	line-height: 58px;
	padding: 0;
	text-indent: 18px;
	margin: 0 0 18px;
}
textarea {
	line-height: 24px;
	padding: 18px;
	width: 100%;
	text-indent: 0;
}
.textarea-container { margin: 0 18px; }
.textarea-container textarea { margin-left: -18px; }
#contact textarea { width: 344px; height: 100px; }



/* FOOTER */
#footer { background: #2f353e; color: #fff; padding-top: 40px; }
#footer p { margin: 25px 0; }
#copyright {
	background: #24282f;
	padding: 20px 0 0;
	height: 80px;
	color: #d5d5d5;
	font-weight: bold;
	font-size: 15px;
	line-height: 62px;
}
#copyright img { display: block; }
#copyright a:hover img { opacity: 0.7; }



@media (min-width: 768px) and (max-width: 979px) {
	#header nav li { margin-left: 20px; }

	#slider h1 { font-size: 42px; line-height: 48px; top: 34px; }
	.flex-control-nav { bottom: 36px; }

	#simplemodal-overlay, #simplemodal-container { display: none !important; }

	.connect li { margin: 0 22px; }

	#contact textarea { width: 254px; }
}
@media (max-width: 767px) {
	body { padding: 0; }

	#header { positioN: relative; }

	.container { margin: 0 20px; }

	#logo img { float: none; margin: 0 auto 24px; }
	.select-menu {
		display: block;
		margin-top: 12px;
		width: 100%;
		padding: 1px 0 0;
	}

	#slider h1 {
		font-size: 26px;
		line-height: 30px;
		top: 36px;
		margin: 0;
	}
	.flex-control-nav { bottom: 20px; }

	article .widget-area { margin: 40px 0 30px; }
	.widget-teaser .widget-title { margin-top: 16px; }
	article .widget, .widget-teaser .widget-content, article .widget-area { border: none !important; }

	.width-33 { width: 100%; }

	.widget-teaser .widget-title { margin-bottom: 20px; }
	.widget-teaser .widget-content { border-bottom: #e9e9e9 1px dashed; border-top: none; padding-top: 0; }

	#contact textarea { max-width: 100%; }

	.connect { text-align: center; }
	.connect li, .connect li:first-child, .connect li:last-child { margin: 10px; display: inline-block; float: none; }

	#header nav { display: none; }

}

@media (max-width: 480px) {
	#slider h1 { font-size: 16px; line-height: 20px; top: 16px; }
	.flex-control-nav { bottom: 10px; }
}
